{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes cadastrados</title>
    <link rel="stylesheet" href="{% static 'filmes/style.css' %}">

    <!-- Para ver o css atualizado precisa usar CTRL + SHIFT + R -->
</head>
<body>

    <h1>Lista de filmes</h1>

    <div class="lista-filmes">
        {% for filme in filmes %}
            <div class="filme">
                <img src="{{filme.capa}}" alt="">
                <p>{{filme.titulo}} ({{filme.ano}})</p>
            </div>
        {% endfor %}
    </div>
    
</body>
</html>